<routes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://camel.apache.org/schema/spring"
        xsi:schemaLocation="http://camel.apache.org/schema/spring https://camel.apache.org/schema/spring/camel-spring.xsd">

    <route id="SpringJpaSaveCardInfo">
        <from uri="activemq-demo:queue:thuongpn.spring.save.request?asyncConsumer=true" />
        <log message="Request Body of SpringJpaSaveCardInfo: ${body}" />
        <bean ref="cardInfoService" method="saveCardInfo"/>
        <log message="Request Body of saveCardInfo: ${body}" />
        <to uri="activemq-demo:queue:thuongpn.spring.save.response" />
    </route>

    <route id="SpringJpaGetOneCardInfo">
        <from uri="activemq-demo:queue:thuongpn.spring.getone.request?asyncConsumer=true" />
        <log message="Request Body of SpringJpaGetOneCardInfo: ${body}" />
        <bean ref="cardInfoService" method="getOneCardInfo"/>
        <log message="Request Body of getOneCardInfo: ${body}" />
        <to uri="activemq-demo:queue:thuongpn.spring.getone.response" />
    </route>

    <!-- Store procedure -->
    <route id="SpringJpaAddCardInfoByUserWithSP">
        <from uri="activemq-demo:queue:thuongpn.spring.sp.addcarduser.request?asyncConsumer=true" />
        <log message="Request Body of RouteId SpringJpaAddCardInfoByUserWithSP: ${body}" />
        <bean ref="cardInfoService" method="addCardInfoAndUserWithSP"/>
        <log message="Request Body of Method addCardInfoAndUserWithSP: ${body}" />
        <to uri="activemq-demo:queue:thuongpn.spring.sp.addcarduser.response" />
    </route>

    <route id="SpringJpaGetCardInfoByIdWithSP">
        <from uri="direct:getcardbyidwithsp" />
        <log message="Request Body of RouteId SpringJpaGetCardInfoByIdWithSP: ${body}" />
        <bean ref="cardInfoService" method="getOneCardInfoWithSP"/>
        <log message="Request Body of Method getOneCardInfoWithSP: ${body}" />
    </route>

    <!-- Transaction -->
    <route id="TXSaveCardInfo">
        <from uri="direct:tx-save-card-info"/>
        <transacted ref="txCardRequired"/>
        <bean ref="cardInfoService" method="save"/>
        <!--        <process ref="simulateErrorProcess"/>-->
    </route>

    <route id="TXSaveCardInfoMsg">
        <from uri="activemq-demo:queue:thuongpn.spring.tx.savecard.request?asyncConsumer=true"/>
        <transacted ref="txCardRequired"/>
        <bean ref="cardInfoService" method="saveCardInfo"/>
        <to uri="activemq-demo:queue:thuongpn.spring.tx.savecard.response" />
    </route>
    <route id="TXSaveCardInfoMsg-Error">
        <from uri="activemq-demo:queue:thuongpn.spring.tx.error.savecard.request?asyncConsumer=true"/>
        <transacted ref="txCardRequired"/>
        <bean ref="cardInfoService" method="saveCardInfo"/>
        <to uri="activemq-demo:queue:thuongpn.spring.tx.error.savecard.response" />
        <process ref="simulateErrorProcess"/>
    </route>

</routes>
